@charset "utf-8";
/* CSS Document */

.screenonly {
	display:none;
	visibility:collapse;
	}
.printonly {
	display:block;
	visibility:visible;
	}
	
body {
	overflow-x:hidden;
	margin: 0px;
	padding: 0px;
	background-color:#ffffff;
    font-family: Verdana, Geneva, sans-serif;
	font-size: 1em; /* 16px/16px */
	line-height: normal;
	font-weight:normal;
	color:#000000; 
}	
	
	
#container {
width:650px;
}

#wrapper, #container{
background:#ffffff;
}

	
#content {
width:650px;
background:#ffffff;
}

#wrapper.inside {
	border-top:none;
	background:#ffffff;
}

#breadcrumb, #banner{
	display:none;
	visibility:collapse;
	height:0;
	width:0;
}
