h1 {
	color: rgb(0);
	font-family: sans-serif;
	text-align: left;
		
  	display: inline-block;
	padding-right: 10px;
}
body {
  background-color: rgb(222, 222, 222);
  font-family: sans-serif;
}
#doctor-photo {
	float: left;
	padding: 10px;

}
#bio-text {
	color: rgb(0);
	font-family: sans-serif;
	padding: 10px;
	width: 90%;

}
#bio-list {
	color: rgb(0);
	font-family: sans-serif;
	
	padding-left: 225px;
	width: 75%;

}
.button:hover {
  background-color: blue;
  color: white;
}

.button {

  width: 15%; /* 110px; */
  /*
  height: 60px;
  */
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 25px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*
  font-size: 22px;
  */
  margin: 4px 2px;
  cursor: pointer;
}
#wide-button-MRA{
	width: 60%; /* 400px; */

}


.bioItem { 
  
  /*
  display: none;
  */
  color: rgb(222, 222, 222);
  

  
  /*
  padding: 10px;
  margin-left: 275px;
  margin-top: -25px;
  width: 55%;
  display: block; 
  margin-top: -35px;
  background-color: blue;
  color: white;
  */
}




.itemTitle:hover .bioItem, .itemTitle:focus .bioItem{ /*prev used hover but change for mobile*/
  
  /* this one worked but choppy
  display: block; 
  */
  /* did not work
  color: rgb(0);
   background-color: rgb(211,211,211);
  */
 
  color: black;

  /*
  padding: 10px;
  margin-left: 275px;
  
  width: 55%;

  margin-top: -35px;
  background-color: blue;
  color: white;
  */
}

li {
  margin-left: 10px;
}

.spacingItems {
  
 
  margin-top: 35px;
 
}

.itemTitle:hover .spacingItems {
  /*
  margin-top: 10px;
  */
}



